.title {
  width: 99% !important;
}

#restartBtn {
  height: 2.7rem;
  border-radius: 5px;
  width: fit-content;
  padding: 0 15px;
  border: none;
  border-right: #222831 4px solid;
  border-bottom: #222831 4px solid;
  font-weight: 600;
  font-size: 1.5rem;
  transition: 0.1s all ease-in-out;
}
#restartBtn:active {
  border: none;
  transition: 0.1s all ease-in-out;
}
#restartBtn:disabled {
  opacity: 1;
  text-decoration: line-through;
}

.workout-log {
  background-color: #ffffff;
  padding: 3%;
  border-radius: 1rem;
  border-right: #222831 8px solid;
  border-bottom: #222831 8px solid;
  margin-bottom: 10%;
}

.workout-log h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5rem;
  border-bottom: #222831 5px solid;
  padding-bottom: 2rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.workout-log h3 img {
  width: 30%;
  margin-right: 3rem;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}

.responsive-table {
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    background-color: #abcddc;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    border: #222831 solid 2px;
    border-radius: 10px;
    font-weight: 700;
    margin-left: -1.5rem;
  }
  .tableRow {
    border: #222831 solid 2px;
    border-radius: 10px;
    font-weight: 700;
    margin-left: -1.5rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }
  .col-1 {
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 25%;
  }
  .col-3 {
    flex-basis: 20%;
  }
  .col-4 {
    flex-basis: 20%;
  }
}

#goBackBtn {
  height: 3rem;
  width: fit-content;
  padding: 0 20px;
  font-size: 17px;
  border: none;
  background-color: #00affe;
  border-right: #222831 4px solid;
  border-bottom: #222831 4px solid;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.1s all ease-in-out;
}

#goBackBtn:active {
  border: none;
  transition: 0.1s all ease-in-out;
}

@media (width<=720px) {
  .title {
    padding-bottom: 2rem;
    font-size: 2.5vh !important;
  }
  #restartBtn {
    font-size: 4vw;
    height: 20vw;
  }
}

@media (width<=900px) {
  .workout-log h3 {
    margin-left: 5%;
    font-size: 5vw;
  }
  .workout-log h3 img {
    width: 50%;
    margin-right: 0;
  }
  .responsive-table {
    li {
      padding: 25px 10px;
    }
    .tableRow {
      font-size: 1rem;
    }
  }
  .responsive-table {
    overflow-x: scroll;
  }
}
