body {
  padding: 0;
  margin: 0;
}

.container-workout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
}

.title {
  width: 60vw;
  height: 7rem;
  display: flex;
  align-items: center;
  margin: 5% 0%;
  background-color: #00affe;
  border-right: #222831 8px solid;
  border-bottom: #222831 8px solid;
  border-radius: 1rem;
}

#endExerciseBtn {
  margin-top: -4rem;
  height: 4rem;
  padding: 0 2%;
  border-radius: 5px;
  background-color: #00affe;
  width: fit-content;
  border: none;
  border-right: #222831 4px solid;
  border-bottom: #222831 4px solid;
  font-weight: 600;
  font-size: 1.1rem;
  transition: 0.1s all ease-in-out;
  /* position: relative;
  bottom: 18vw;
  left: 18%; */
}
#endExerciseBtn:active {
  border: none;
  transition: 0.1s all ease-in-out;
}
#endExerciseBtn:disabled {
  opacity: 1;
  text-decoration: line-through;
}

.current-workout {
  width: 52.2vw;
  background-color: #ffff;
  padding: 2% 5%;
  border-radius: 1rem;
  border-right: #222831 8px solid;
  border-bottom: #222831 8px solid;
  margin-bottom: 5rem;
}

.timeBox {
  display: flex;
}

.right img {
  height: 30vw;
  transform: rotateY(3.142rad);
  margin-left: -10%;
  /* overflow: hidden; */
}

.left {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 10%;
}

#currentExercise {
  height: 4rem;
  /* width: 80%; */
  background-color: #eeeeee;
  font-size: 2.5rem;
  padding: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #222831;
  border-radius: 1rem;
  border-right: #222831 8px solid;
  border-bottom: #222831 8px solid;
}

#timer {
  margin-top: -1rem;
  height: 6rem;
  font-size: 6rem;
  width: fit-content;
  color: #ffffff;
  background-color: rgb(44, 42, 42);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #222831;
  border-radius: 1rem;
  font-weight: 800;
  /* position: relative;
  top: 2%;
  left: 30%; */
}

#quitExercise {
  margin-left: 25%;
  height: 2.7rem;
  border-radius: 5px;
  width: fit-content;
  padding: 0 15px;
  border: none;
  border-right: #222831 4px solid;
  border-bottom: #222831 4px solid;
  font-weight: 600;
  font-size: 1.1rem;
  transition: 0.1s all ease-in-out;
}
#quitExercise:active {
  border: none;
  transition: 0.1s all ease-in-out;
}

@media (width<=1100px) {
  .container-workout {
    padding: 0 3%;
  }
  .title {
    width: 80vw;
  }
  .current-workout {
    width: 70vw;
  }
  .right img {
    margin-left: 20%;
  }
}

@media (width<=829px) {
  .container-workout {
    padding: 0 1%;
  }
  .title {
    width: 90vw;
  }
  .current-workout {
    width: 80vw;
  }
  #timer {
    height: 4rem;
    font-size: 4rem;
    margin-bottom: 5rem;
  }
  #endExerciseBtn {
    height: 3rem;
  }
  .right img {
    margin-left: 40%;
  }
}

@media (width<=720px) {
  .title {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
  }
  #quitExercise {
    margin-left: 0%;
    margin-bottom: 2rem;
    padding: 10px 15px;
  }
  #currentExercise {
    font-size: 5.2vw;
    padding: 5vw;
    height: 5vw;
  }
}

@media (width<=568px) {
  .timeBox {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .right img {
    margin: 0%;
    height: 65vw;
  }

  .left {
    position: static;
  }

  #timer {
    margin-top: 0.5rem;
    height: 5rem;
    font-size: 5rem;
    width: 70vw;
  }

  #endExerciseBtn {
    margin-bottom: 0.5rem;
  }
  .title {
    font-size: 3vw;
  }
  #quitExercise {
    height: 2rem;
    padding: 1% 4%;
  }
}
